@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/pacifico-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Chunk';
  src: url('../fonts/Chunkfive-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/Chunkfive-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    /* heights of header's parents (in this case html and body) have to be 100%
       for header to have 100% height */
    height: 100%;
}

body {
    background-color: #E98977;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #E98977;
    margin: 0;
    /* heights of header's parents (in this case html and body) have to be 100%
       for header to have 100% height */
    height: 100%;
}

.center-horiz {
    margin 0 auto;
    display: block;
    text-align: center;
}

.center-vert {
    display: inline-block;
    vertical-align: middle;
}

#header {
    background-color: #E98977;
    color: #FFF;
    height: 100%;
}

/* to vertically center face-icon and name */
#header:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  /* this just takes care of whitespace added by having display:inline-block
     (there are other methods) */
  margin-left: -0.25em;
}

#header #face-icon {
    height: 150px;
    width: 150px;
    padding-bottom: 50px;
}

#header #name {
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: 400%;
    width: 100%;
}

.sticky {
    background-color: #E98977;
    background: rgba(233,137,119, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

#content {
    padding: 200px 0;
    /*background-color: #F8F4D7;*/
    background: url(img/josh_tree.png) no-repeat;
    background-size: 100%;
}

#words {
    width: 500px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #E98977;
}

a:hover {
    color: #FFF;
}

.empty-space {
    height: 200px;
}

.circle {
    height: 150px;
    width: 150px;
    background-color: #F4B36C;
    margin: 50px;
    border-style: solid;
    border-color: #F4B36C;
    border-width: 1px;
    border-radius: 75px;
    display: inline-block;
    color: #FFF;
}

.circle:hover {
    background-color: #F8F4D7;
    border-style: solid;
    border-color: #E98977;
    border-width: 1px;
    color: #E98977;
    animation: turnAround 0.75s ease-out 1;
}

.circle-inner {
    padding: 65px 20px;
}

footer {
    bottom: 0;
    background-color: #F4DEC2;
    padding: 20px 0;
}

footer .footer-icon {
    height: 20px;
    width: 20px;
}
